*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: black;
}
.post{
    background-color: white;
    width: 500px;
    height: 700px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}
.post-header{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.post-img{
    width: 100%;
    height: 50%;
    max-height: 60%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    margin: auto;
    justify-content: center;
}
.post-body{
    width: 100%;
    height: 30%;
    padding: 10px;
}
.post-icons{
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.encabezado-izquierda{
    display: flex;
}
i.fa-brands.fa-html5{
    font-size: xx-large;
    margin-right: 10px;
}
i.fa-solid.fa-ellipsis-vertical{
    font-size: xx-large;
}
.post-body > p {
    margin-bottom: 10px;
}
.icono-derecha{
    padding-right: 10px;
}